{% extends 'Query/base.html' %}
{% load staticfiles %}
{% block map_content%}

<div class="container-flow" >

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">
        <h5 class="navbar-brand">View in Map</h5>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form method="get" action="" id="searchform">
              <div class="form-row">
                <div class="col-12 col-lg-10 mb-8 mb-md-0">
                  <input type="text" id= "destination"  class="form-control"  placeholder="enter destination">
                </div>
                   <div class="col-12 col-lg-2">
                     <input class= "btn btn-info" type="button" value="Find Route" onclick="submit_form();">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </nav>

  <div class="row">
      <div class="col-1">
        <div class="btn-group-vertical">
            <select id="soflow" style="width: 100%;">
              <option value="amusement_park">Park</option>
              <option value="art_gallery">Art Gallery</option>
              <option value="atm">ATM</option>
              <option value="bakery">Bakery</option>
              <option value="book_store">Book Store</option>
              <option value="bowling_alley">Bowling Alley</option>
              <option value="cafe">cafe</option>
              <option value="campground">Camp Ground</option>
              <option value="casino">Casino</option>
              <option value="hindu_temple">Hindu Temples</option>
              <option value="hospital">Hospital</option>
              <option value="zoo">Zoo</option>
              <option value="restaurant">Restaurant</option>
              <option value="parking">Parking</option>
              <option value="museum">Museum</option>
              <option value="night_club">NightClub</option>
              <option value="lodging">Lodging</option>
            </select>  
        </div>
      </div>
      <div class="col-7" >
        <div class="card" style="width:99%; height: 45%">
          <div class="card-body">
          <h5 class="card-title">Result Destination</h5>
          <div class="container" id="map"></div>
          </div>
        </div>
      </div>
      <div class="col-4" >                      
           <!-- Reviews here  -->
          <h5>Reviews here </h5>
            <div class="container-fluid" style="height: 40%; overflow:scroll;">
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
                <div class="card" style="width:77%; margin:none; padding: 1px;">
                  <div class="card-body">
                  <h5 class="card-title">My Photo</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
      </div>
  </div>
  <!-- /.row -->
</div>
<!-- container ends here  -->

     
<!-- Related Projects Row -->
<h3 class="my-4">Result</h3>
<div id="directions_panel"> </div>


<!-- Footer -->
<footer class="py-3 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>
  {% endblock %}
